#main_content{
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 0px 10px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: -20%;
}

#suggest-btn{
    max-width: 300px;
    width: 100%;
    margin-top: 15px;
}

#suggest-btn button, #suggest-btn a{
    border-radius: 1.3em;
    padding: 20px 30px;
    width: 100%;
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.4);
}

#sugg_cont_btn{
    margin: 0 auto;
    max-width: 100px;
    width: 100%;
    float: right;
}

.form-group{
    padding: 10px;
}

.form_header{
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}

.alert{
    box-shadow: 0px 2px 1px;
}

#msg-buffer{
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

#sign-up-link{
    text-align: right;
    margin-top: 10px;
}


/* Suggestion Box */

.suggestion-box{
    margin: 10px 10px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.4);
    border-radius: 0.5em;
    width: calc(100% - 20px);
    white-space: nowrap;
    overflow: hidden;
}

.suggestion-box p{
    margin: 4px;
    font-size: 18px;
}

.rating-box{
    width: auto;
    display: inline-block;
}

.up-rating{
    color: #339933;
    cursor: pointer;
}

.down-rating{
    color: #993333;
    cursor: pointer;
}

.content-box{
    display: inline-block;
    width: 100%;
    max-width: calc(100% - 65px);
}

.content-box .suggestion-title{
    font-weight: bold;
    font-size: 22px;
}

.content-box:hover{
    cursor: pointer;
}

.content-box:hover .suggestion-title{
    color: rgba(0,0,0,0.5);
}

.content-box .suggestion-content{
    margin-top: -5px;
    margin-left: 5px;
}

#contribute-btn{
    position: fixed;
    width: auto;
    bottom: 20px;
    right: 20px;
}

#contribute-btn a{
    padding: 20px;
    border-radius: 2em;
    background: #27ae60;
    color: white;
}

#details-border{
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}

#details-pane{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
    z-index: 4;
}

#details-box{
    background: rgba(255,255,255,0.95);
    padding: 10px 20px;
    border-radius: 0.5em;
    margin-top: 5%;
    margin: 10px;
}

#details-box #title{
    margin: 5px 0px;
}

#details-box #subtitle{
    margin: 5px 0px;
    font-size: 22px;
}

#details-box #subtitle #postdate{
    font-style: italic;
    font-size: 18px;
}

#details-box #subtitle #contributer{
    
}

#details-box #content{
    margin-top: 20px;
}

#search-box{
    margin: 10px;
    z-index: 1;
}

#msg-sub{
    text-align: center;
    color: rgba(0,0,0,0.6);
}

#feedback-chart{
    margin: 0 auto;
    text-align: center;
}

#stats-table{
    padding: 10px;
}

.chart-legend li{
    list-style: none;
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.chart-legend .radar-legend{
    padding-left: 0;
}